*{
	font-family: arial;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
body{
	background: #e3f1f9;
	margin: 0px;
}
.header-container{
	background: #111a29;
}
header{
	background: url('../images/header-bg.jpg') no-repeat;
	background-position: right;
	color: white;
	height: 245px;
	margin: 0px auto;
	width: 1305px;
}
.header-text{
	margin: 0px auto;
	transform: translateY(45%);
}
h1{
	font-size: 46px;
	padding-bottom: 5px;
}
h3{
	color: #bfd4de;
	font-size: 20px;
	padding: 5px 0px;
}
h2{
	font-size: 34px;
}
.registration-container{
	background: #bfd4de;
	height: 80px;
}
.registration-step{
	font-size: 26px;
	margin: 0px auto;
	width: 1305px;
}
.registration-step p{
	color: #364654;
	font-weight: bold;
	padding-left: 50px;
	padding-top: 25px;
}
.content-container{
	background: #fff;
	border: none;
	color: #364654;
	margin: 0px auto 20px;
	padding-top: 35px;
	width: 1305px;
}
p#info{
	font-size: 22px;
	font-style: italic;
	font-weight: normal;
	margin-bottom: 20px;
	padding-left: 50px;
}
table{
	border-spacing: 40px;
	width: 1180px;
}
td:nth-child(2n-1){
	font-size: 20px;
	text-align: right;
	width: 240px;
}
label{
	font-weight: bold;
}
.footer-container{
	background: #364654;
	color: white;
	margin-top: 60px;
}
footer{
	font-size: 17.5px;
	font-weight: normal;
	height: 65px;
	margin: 0px auto;
	text-align: right;
	width: 1305px;
}
.copyright{
	float: left;
	margin-top: 25px;
}
.menu{
	float: right;
	margin-top: 25px;
}
.menu a{
	color: white;
	font-weight: bolder;
	padding: 10px 20px 0px 0px;
}