[type=text], .input-select, select{
	background: white;
	border: 1px solid #c4c4c4;
	border-radius: 2px;
	font-family: arial;
	font-size: 18px;
	font-weight: normal;
	height: 45px;
	padding: 2px;
	width: 100%;
}
[type=submit]{
	background: #364654;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	margin: 40px;
	padding: 10px 22px;
}
select{
	border: none;
	height: 100%;
}